@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.type-fire {
  background-color: #ff4500;
  color: white;
}

.type-water {
  background-color: #1e90ff;
  color: white;
}

.type-grass {
  background-color: #32cd32;
  color: white;
}

.type-electric {
  background-color: #ffd700;
  color: white;
}

.type-psychic {
  background-color: #ff1493;
  color: white;
}

.type-ice {
  background-color: #00ffff;
  color: white;
}

.type-dragon {
  background-color: #8b00ff;
  color: white;
}

.type-dark {
  background-color: #4a4a4a;
  color: white;
}

.type-fairy {
  background-color: #ffb6c1;
  color: white;
}

.type-normal {
  background-color: #a8a878;
  color: white;
}

.type-fighting {
  background-color: #c03028;
  color: white;
}

.type-flying {
  background-color: #a890f0;
  color: white;
}

.type-poison {
  background-color: #a040a0;
  color: white;
}

.type-ground {
  background-color: #e0c068;
  color: white;
}

.type-rock {
  background-color: #b8a038;
  color: white;
}

.type-bug {
  background-color: #a8b820;
  color: white;
}

.type-ghost {
  background-color: #705898;
  color: white;
}

.type-steel {
  background-color: #b8b8d0;
  color: white;
}